body {
    background: url("backgrounds/background3.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}



